# edX course : introduction to Credit Risk in Python

## import usfull package

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from IPython.display import display, HTML

## Calcul of RWA : Standardized approch

In [4]:
AAA_Corp_loan = 120000000

In [5]:
AA_gov_bond = 10000000

In [6]:
residental_mortgage = 60000000

In [7]:
standard_rate_AAA_Corp_loan = 0.5

In [8]:
standard_rate_AA_gov_bond = 0

In [9]:
standard_rate_residental_mortgage = 0.35

In [10]:
RWA = AAA_Corp_loan * standard_rate_AAA_Corp_loan + AA_gov_bond * standard_rate_AA_gov_bond + standard_rate_residental_mortgage * residental_mortgage

In [11]:
print(RWA)

81000000.0

In [12]:
capital_requirement = RWA * 0.08

In [13]:
print(capital_requirement)

6480000.0

# exercice 1

Afficher La Réponse
CorrectVérifier
Numerical Input
0 points possible (ungraded)
We are a bank and our assets are made up of:

- $100 million of loans to A-rated corporations;

- $25 million of AAA-rated government bonds;

- $80 million of loans to a B-rated corporation;

- $22 million of BB-rated government bonds;

- $12 million of unrated bank bonds;

- $50 million of residential mortgages;

- $30 million of standard retail lending;

Use the risk weights you can find in the slides of Lesson 1 of this week, pages 9-11.

In the following answer, do not express millions, i.e. 100'000'000 (100 million) is simply 100, and 3'500'000 is 3.5.

Our RWA are equal to

In [14]:
print("Dataframe 1: StandardApproachRates.csv")
df_standard_approch_rates = pd.read_csv('data/StandardApproachRates.csv',sep=';')
pd.options.display.max_columns = None
pd.options.display.max_rows = 10
display(df_standard_approch_rates)

Dataframe 1: StandardApproachRates.csv

          category rating  rated
0        countries    AAA   0.00
1        countries    AA+   0.00
2        countries     AA   0.00
3        countries    AA-   0.00
4        countries     A+   0.20
..             ...    ...    ...
51    corporations      B   1.50
52    corporations     B-   1.50
53    corporations   CCC+   1.50
54       mortgages    NaN   0.35
55  retail lending    NaN   0.75

[56 rows x 3 columns]

In [15]:
df_standard_approch_rates.dtypes

category     object
rating       object
rated       float64
dtype: object

In [16]:
print("Dataframe 2: ex2")
df_ex2 = pd.read_csv('data/ex2.csv',sep=';')
pd.options.display.max_columns = None
pd.options.display.max_rows = 20
display(df_ex2)

Dataframe 2: ex2

         category   rating     amount
0    corporations        A  100000000
1       countries      AAA   25000000
2    corporations        B   80000000
3       countries       BB   22000000
4           banks  Unrated   12000000
5       mortgages      NaN   50000000
6  retail lending      NaN   30000000

In [17]:
df_ex2.dtypes

category    object
rating      object
amount       int64
dtype: object

In [18]:
df_res = df_ex2.merge(df_standard_approch_rates, how='left', left_on=['rating','category'], right_on=['rating','category'])

In [19]:
RWA=sum(df_res['amount']*df_res['rated'])
f'RWA : {RWA}'

'RWA : 238000000.0'

In [20]:
capital_requirement = RWA * 0.08
f'RWA : {RWA} - capital_requirement : {capital_requirement}'

'RWA : 238000000.0 - capital_requirement : 19040000.0'